<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
		<h1 class="text-center top-head">Nueva Entrada</h1>
    
		<%= render 'form' %>
	<!--
		<%= link_to 'Back', buys_path %>
 --> <a href="#" class="btn btn-danger ir-arriba"> <%= fa_icon "arrow-up" %> Arriba</a>
    </div>
  </div>
</div>