body{
	font-size: 20px;
}
h1{
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 3em;
}

.top-head{
	padding-bottom: 0.5em;
}

h2{
  font-family: 'Ubuntu';
  font-weight: 500;
}
h4{
  font-family: 'Ubuntu';
  font-weight: 500;
}
p{
	font-family: 'Ubuntu';
	font-weight: 300;
}

.kuira-title{
}
.field{
  margin-bottom: 15px;
}
/* CLASE PARA COLOREAR ERRORES */
.be-red{
  background-color: red;
  color: white;
}
.be-blue{
  color: #4183D7;
}
.btn-high{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
  font-family: 'Ubuntu';
  font-weight: 700;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #F7CA18;
}

.activo{
  color: green;
  font-family: 'Ubuntu';
  font-weight: 500;
}

.inactivo{
  color: red;
  font-family: 'Ubuntu';
  font-weight: 500;
}

h4.alineado{
    display: inline;
    vertical-align: top;
}

.ir-arriba{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.rojo{
  color: red;
}

/* --- COLORES CATEGORÍAS --- */

.tipo0{
  background-color: white;
}
.tipo3{
  background-color: #2ecc71;
}