<%= link_to 'Show', @sale %> |
<%= link_to 'Back', sales_path %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Editar Venta</h1>
			<hr>
			<%= render 'form' %>
		</div>
	</div>	
</div>