<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <h1 class="text-center top-head">Historial de ventas</h1>

      <%= link_to 'Nueva Venta', new_sale_path , class:"btn btn-lg btn-success"%>
      <%= link_to 'Ventas Recientes', sales_path , class:"btn btn-lg btn-primary"%>
      <%= link_to 'Ventas Pendientes', sales_pending_path, class:"btn btn-lg btn-warning" %>
      <br>
      <h2>Selecciona un intervalo de fechas para consultar:</h2>
      <br>
      <br>
    </div>
  </div>
</div>