<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
		<%= link_to 'Atrás', root_url, class:"btn btn-info ir-atras"%>
      

    <h1 class="text-center top-head">Nueva Venta</h1>
    
    <%= render 'form' %>
  
      <a href="#" class="btn btn-danger ir-arriba"> <%= fa_icon "arrow-up" %> Arriba</a>

    </div>
  </div>
</div>